.idea/MultIA.iml
/.idea
ModelFiles/Mistral-7b/mistral-7b-instruct-v0.2.Q5_K_M.gguf
ModelFiles/Llama2-7b/llama-2-7b-chat.Q5_K_M.gguf
Tests/phi-2.Q8_0.gguf
Tests/model.pth
/.idea
/ModelFiles
.idea/misc.xml
.idea/MultIA.iml
.idea/misc.xml
/.idea
myfile2.wav
