.idea/MultIA.iml
/.idea
ModelFiles/Chat/Mistral-7b/mistral-7b-instruct-v0.2.Q5_K_M.gguf
ModelFiles/Chat/Llama2-7b/llama-2-7b-chat.Q5_K_M.gguf
Tests/phi-2.Q8_0.gguf
Tests/model.pth
/ModelFiles
.idea/misc.xml
myfile2.wav
./*.wav
/Tests/ECDLR.m4a
/Tests/ECDLR.mp3
/Tests/SmallTalk.mp3
/media
/Tests
*/__pycache__/
